.MusicPlayer2802357603__playLayout {
    display: none !important;
}

.MusicPlayer2802357603__root.MusicPlayer2802357603--hasProgressBar .MusicPlayer2802357603__timeStamp {
  font-family: madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
}

div[data-testid="responsive-container-overflow"]::-webkit-scrollbar {
    background-color: #131416 !important;
}

div[data-testid="responsive-container-overflow"]::-webkit-scrollbar-track {
    background-color: #131416 !important;
}

div[data-testid="responsive-container-overflow"]::-webkit-scrollbar-track:hover {
    background-color: #131416 !important;
}

div[data-testid="responsive-container-overflow"]::-webkit-scrollbar-thumb {
    border: 5px solid #131416 !important;
}

div[data-testid="responsive-container-overflow"]::-webkit-scrollbar-thumb:hover {
    border: 4px solid #131416 !important;
}

.Slider1827102434__trackFill {
    border-end-end-radius: 40px !important;
    border-start-end-radius: 40px !important;
}

.Slider1827102434__thumbShape {
    display: none !important;
}
